Microservice_TestApplication/Microservice_TestApplication/Connected Services/GetEstimate/GetEstimate3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Micro_GetEstimate_WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Micro_GetEstimate_WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chandra/GetEstimate/GetEstimate.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" />
  <xs:complexType name="SOCRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOCRequest" nillable="true" type="tns:SOCRequest" />
  <xs:complexType name="ArrayOfProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductInfo" nillable="true" type="tns:ProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductInfo" nillable="true" type="tns:ArrayOfProductInfo" />
  <xs:complexType name="ProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductIOSC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInfo" nillable="true" type="tns:ProductInfo" />
  <xs:complexType name="SOCResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Productlst" nillable="true" type="tns:ArrayOfProductInfo" />
      <xs:element minOccurs="0" name="SOCEstimate" nillable="true" type="tns:SOCEstimate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOCResponse" nillable="true" type="tns:SOCResponse" />
  <xs:complexType name="SOCEstimate">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstBill" type="xs:decimal" />
      <xs:element minOccurs="0" name="Monthly" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" minOccurs="0" name="TaxResponse" nillable="true" type="q1:TaxResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SOCEstimate" nillable="true" type="tns:SOCEstimate" />
</xs:schema>