Microservice_TestApplication/Microservice_TestApplication/Connected Services/GetEstimate/GetEstimate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microservice_GetTaxes_WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaxResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstBillTaxes" type="xs:decimal" />
      <xs:element minOccurs="0" name="MonthlyTaxes" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxResponse" nillable="true" type="tns:TaxResponse" />
</xs:schema>