Microservice_TestApplication/Microservice_TestApplication/Connected Services/GetEstimate/GetEstimate2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chandra/GetEstimate/GetEstimate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Micro_GetEstimate_WCF.DataContract" />
  <xs:element name="GetSOCEstimate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Micro_GetEstimate_WCF.DataContract" minOccurs="0" name="request" nillable="true" type="q1:SOCRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSOCEstimateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Micro_GetEstimate_WCF.DataContract" minOccurs="0" name="GetSOCEstimateResult" nillable="true" type="q2:SOCResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>